<!DOCTYPE html>
<html>
  <head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">

    </div>
    <!--<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>-->
    <script src="bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>